<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" th:fragment="bodyHeader">
  <div class="container">
    <a class="navbar-brand" th:href="@{/}">증산 정보도서관 DVD</a>
    <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li th:if="${username != null}" class="nav-item mx-0 mx-lg-1 py-3 px-0 px-lg-3 rounded text-white" th:text="|${username}님 반갑습니다.|"></li>
        <li th:if="${username == null}" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio" th:href="@{/login}">Login</a></li>
        <li th:if="${username != null}" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about" th:href="@{/}">MyFavorite</a></li>
        <li th:if="${username == null}" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about" th:href="@{/user/signup}">Sign up</a></li>
        <li th:if="${username != null}" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact" th:href="@{/logout}">Logout</a></li>

        <li th:if="${userRole}" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#" th:href="@{/dvd/add}">DVD 등록</a></li>

        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact" th:href="@{/#contact}">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>